.card.checkingAccounts {
  .sum {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    > :nth-child(2) {
      margin-left: 1rem;
      margin-right: 1rem;
      flex-grow: 1;
    }
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    > :first-child {
      flex-grow: 1;
    }
  }
}
