.card {
  .card-header {
    display: flex;
    justify-content: space-between;
    font-size: 200%;
    .material-icons {
      font-size: 150%;
      opacity: 0.5;
    }
  }
  .card-header + table {
    margin-top: -1px;
  }
}
