@import '../../variables';

span.money {
  white-space: nowrap;
  display: inline-block;

  .currency,
  .minus {
    opacity: 0.5;
    font-size: 80%;

    @media (min-width: $mobile-breakpoint) {
      font-size: 100%;
    }
  }

  &.income {
    color: green;
  }

  &.spending {
    color: darkred;
  }
}
