form.card {
  .card-footer {
    display: flex;
    flex-direction: column;
    .controls {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
    .alert {
      flex-grow: 1;
      margin-top: 1rem;
      margin-bottom: 0;
    }
    button {
      align-self: flex-start;
    }
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    font-size: 200%;
    .material-icons {
      font-size: 150%;
      opacity: 0.5;
    }
  }
}
