main.checking-account {
  > .alert {
    grid-column-end: span 8;
  }
  .card {
    grid-column-end: span 4;
  }

  table.spendings {
    td:first-child {
      width: 10%;
    }
    td:last-child {
      text-align: right;
    }
  }
}
