main.checking-account {
  > .alert {
    grid-column-end: span 8;
  }
  .card {
    grid-column-end: span 4;
  }
  nav#spendingsNavigation {
    grid-column-end: span 8;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .form-group {
      margin-bottom: 0;
    }
  }

  table.spendings {
    td:first-child {
      width: 10%;
    }
    td:last-child {
      text-align: right;
    }
  }
}
