@import '../variables';

.list-group-item {
  > a {
    display: block;
  }
}

table.accounts {
  tbody,
  tfoot {
    font-size: 80%;
    @media (min-width: $mobile-breakpoint) {
      font-size: 100%;
    }
    .amount {
      text-align: right;
    }
  }
}
