form.addSpending {
  div.amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      margin-bottom: 0;
      white-space: nowrap;
      margin-right: 1rem;
    }
    .form-group + .form-group {
      margin-left: 0.5rem;
    }
    .form-group:last-child {
      flex-shrink: 0;
    }
  }
}
